.well
  = form.input :locale, as: :select, collection: I18n.available_locales
  = form.input :name

.well
  = form.input :markup_language, collection: Ecm::Videos::Configuration.markup_languages, include_blank: false
  = form.input :description, input_html: { 'data-add-editor': true, 'data-editor-syntax': form.object.markup_language }

.well
  = form.input :published, as: :boolean