= table.column :preview_image, as: :thumbnail, style: :default_thumb, link_to_url: Proc.new { |resource| url_for(resource) }
= table.column :locale
= table.column :name
= table.column :videos_count
= table.column :description
= table.timestamps
= table.acts_as_published_actions