= table.column :preview_image do |resource|
  - link_to(url_for(resource)) do
    - image_tag(resource.preview_image.url(:default_thumb))
= table.column :locale, sort: true
= table.column :name, sort: true
= table.column :videos_count
= table.column :description, sort: true
= table.timestamps sort: true
= table.acts_as_published_actions