= table.row :category, as: :association, label_method: :name
= table.row :name
= table.row :description
= table.row :markup_language
= table.row :published
= table.row :published_at
= table.row :clip
= table.row :clip_file_name
= table.row :clip_content_type
= table.row :clip_file_size
= table.row :clip_updated_at
= table.row :created_at
= table.row :updated_at